.catsenses {
    margin-left: 50px;
}

.cat_pic {
    text-align: center;
    padding-top: 15px;
    
}

img {
    border: solid;
    border-color: rgb(236, 123, 71);
    border-style: solid;
    border-width: 10px;
}

.the_lions {
    padding-top: 40px;
}

h5 {
    text-align: center;
    border: solid;
    color: red;
    display: block;
    padding: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

th, td {
    border: 1px solid black; 
    margin: 5px 0 5px 0;
}

.lion-pic {
text-align: center;
padding-top: 100px;
}